# Editor Files
.*.sw?
.local.vimrc
session.vim

# Source Output Files
*.o
*.a
*.bin
*.elf
*.hex
*.ihx
*.s19
*.noi
*.lst
*.rst
*.rel
*.sym
*.load
*.send

# EDA Output Files
*.gbr
*.drl
*gbrjob
*-bak
*.bak
*.bck
hardware/**/*-backups

# Binary files
*.img

# Build Directory
/build/

# Miscellaneous
/junk/
